body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #DEDABB;
}
img {
  width: 40vw;
  text-align: center;
}
h1 {
  color: #95a844
}
div {
  color: #44494F 
}
.container {
  width: 40vw;
  text-align: center;
  direction: rtl;
}
